@charset "UTF-8";
html {
  font-size: 62.5%; }

.clearfix::after {
  content: '';
  display: block;
  clear: both;
  font-size: 12px;
  font-size: 1.2rem; }

body {
  font-size: 14px;
  font-size: 1.4rem; }
  @media (max-width: 550px) {
    body {
      font-size: 21px;
      font-size: 2.1rem; } }

div {
  box-sizing: border-box; }

.container {
  width: 95%; }

/* 初期化し損ねている余計な余白を解除 */
form, h1, h2, h3, h4, dl, dt, dd, ul, li {
  margin: 0;
  padding: 0; }

h3 {
  font-size: 20px;
  font-size: 2rem;
  color: #887f69; }
  @media (max-width: 550px) {
    h3 {
      font-size: 32px;
      font-size: 3.2rem; } }

h4 {
  font-size: 18px;
  font-size: 1.8rem;
  margin-bottom: 5px;
  color: #887f69; }
  @media (max-width: 550px) {
    h4 {
      font-size: 24px;
      font-size: 2.4rem; } }

a {
  text-decoration: none;
  color: #000; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

@media (min-width: 550px) {
  .column, .columns {
    margin-left: 2%; } }
body {
  background: #f9f8f6; }

/*
headder
*************************************/
header #header_in {
  padding-top: 10px;
  padding-bottom: 4px; }
@media (min-width: 550px) {
  header .pc_navi ul {
    text-align: right; }
  header .pc_navi_li {
    margin: 0;
    padding: 0; }
    header .pc_navi_li li {
      display: inline;
      list-style: none;
      margin: 5px 20px 0 0;
      padding: 0; } }
@media (max-width: 550px) {
  header .logo {
    margin-top: 5px;
    padding-bottom: 0px; }
    header .logo img {
      width: 40%; }
  header h1 {
    text-align: center;
    margin-bottom: 10px; }
  header .sp_navi_li {
    margin: 0;
    padding: 0; }
    header .sp_navi_li li {
      display: inline;
      list-style: none;
      margin: 5px 10px 0 0;
      padding: 0; }
      header .sp_navi_li li img {
        height: 40px; }
  header .sp_sub_navi_li {
    position: absolute;
    right: 12%;
    display: none;
    z-index: 100;
    background: #fff; }
  header .sp_sub_navi_li li {
    list-style: none;
    margin: 0;
    padding: 0; }
  header .sp_sub_navi_li li a {
    display: block;
    padding: 10px 8px;
    border: 1px solid #887f69;
    font-size: 14px;
    font-size: 1.4rem;
    text-decoration: none; } }

/*
breadcrumb
************************************************/
#breadcrumb {
  color: #887f69;
  background: #e2ddd4;
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px; }
  @media (max-width: 550px) {
    #breadcrumb {
      font-size: 18px;
      font-size: 1.8rem; } }
  #breadcrumb a {
    color: #887f69; }
    @media (max-width: 550px) {
      #breadcrumb a {
        font-size: 18px;
        font-size: 1.8rem; } }
  #breadcrumb h1 {
    font-size: 14px;
    font-size: 1.4rem;
    margin-top: auto;
    margin-bottom: auto; }
    @media (max-width: 550px) {
      #breadcrumb h1 {
        font-size: 18px;
        font-size: 1.8rem; } }
  #breadcrumb div.breadcrumb-item {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto; }
  #breadcrumb img.img-home-icon {
    margin-right: 10px;
    height: 15px; }

/*
curusel
************************************************/
.owl-dots {
  display: flex; }
  .owl-dots .owl-dot {
    width: 25px;
    height: 2px;
    background: #887f69;
    padding: 0px;
    margin: 5px 10px 5px 0px; }
    @media (max-width: 550px) {
      .owl-dots .owl-dot {
        width: 10%; } }
  .owl-dots .owl-dot.active {
    background: #9d1a2d; }

/*
new-items
************************************************/
#new-items .container,
#popular .container,
#guide .container {
  background: #f9f8f6;
  padding: 0px;
  margin: 0 0 20px 0;
  width: 100%; }
#new-items .item-title h2,
#popular .item-title h2,
#guide .item-title h2 {
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center; }
  @media (max-width: 550px) {
    #new-items .item-title h2 img,
    #popular .item-title h2 img,
    #guide .item-title h2 img {
      height: 40%; } }
#new-items .item-price,
#popular .item-price,
#guide .item-price {
  margin-bottom: 5px; }

#new-item-navi {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between; }
  @media (max-width: 550px) {
    #new-item-navi .new-item-btn {
      width: 40%; } }
  #new-item-navi img {
    width: 100%; }

#new-items .container,
#popular .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
#new-items .items,
#popular .items {
  width: 50%;
  border: 1px solid #f9f8f6;
  background: #fff;
  margin: 0;
  padding: 10px; }
@media (min-width: 550px) {
  #new-items .items,
  #popular .items {
    width: 33%; } }

#guide .items {
  border: 1px solid #f9f8f6;
  background: #fff;
  margin: 0 0 10px 0;
  padding: 20px; }
  @media (min-width: 550px) {
    #guide .items {
      min-height: 390px; } }
#guide .items:first-child {
  border-right: 5px solid #f9f8f6; }
#guide h4:before {
  content: "■ ";
  font-size: 30px;
  font-size: 3rem; }
#guide .img-otodoke {
  width: 70%; }
#guide .img-cards {
  width: 100%; }

/*
sidebar
************************************************/
#sidebar #search {
  background: #fff;
  margin-bottom: 10px;
  padding: 40px 5px;
  padding: 20px 5px; }
#sidebar .search-input {
  background: #f9f8f6; }
  #sidebar .search-input input {
    background: eeeeee;
    margin-bottom: 0; }
#sidebar .sidebar-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: #887f69;
  padding: 15px;
  height: 50px;
  align-items: center;
  margin-top: 15px;
  cursor: pointer; }
  @media (max-width: 550px) {
    #sidebar .sidebar-menu {
      height: 85px; } }
  #sidebar .sidebar-menu img {
    height: 10px; }
    @media (max-width: 550px) {
      #sidebar .sidebar-menu img {
        height: 25%; } }
  #sidebar .sidebar-menu .img-l {
    height: 15px; }
    @media (max-width: 550px) {
      #sidebar .sidebar-menu .img-l {
        height: 40%; } }
#sidebar .sidebar-submenu {
  display: none; }
  #sidebar .sidebar-submenu li {
    list-style: none;
    margin: 0;
    padding: 0;
    background: #fff;
    height: 30px;
    padding-top: 20px;
    border-bottom: 1px solid #f9f8f6; }
    @media (max-width: 550px) {
      #sidebar .sidebar-submenu li {
        height: 70px; } }
  #sidebar .sidebar-submenu li a {
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px;
    align-items: center; }
#sidebar .items {
  padding: 15px;
  margin-bottom: 20px;
  background: #fff; }
#sidebar #about .items .item-img img,
#sidebar #shop-info .items .item-img img {
  width: 100%; }
@media (max-width: 550px) {
  #sidebar #about .items,
  #sidebar #shop-info .items {
    display: flex;
    flex-wrap: nowrap; }
  #sidebar #about .item-img,
  #sidebar #shop-info .item-img {
    width: 45%;
    margin-right: 10px; }
  #sidebar #about .items-info,
  #sidebar #shop-info .items-info {
    width: 55%; }
  #sidebar #about .more-btn,
  #sidebar #shop-info .more-btn {
    width: 70%; } }

/*
product-img-area
************************************************/
#product-area {
  background: #fff;
  padding: 30px 60px 20px 60px; }
  @media (max-width: 550px) {
    #product-area {
      padding: 30px 10px 20px 10px; } }
  #product-area h2 {
    font-size: 28px;
    font-size: 2.8rem;
    margin-bottom: 5px; }
  #product-area .container {
    width: 100%; }
  #product-area .product-name-area {
    padding-bottom: 20px;
    border-bottom: 1px solid #e2ddd4;
    margin-bottom: 20px; }
    @media (min-width: 550px) {
      #product-area .product-name-area {
        display: flex;
        justify-content: space-between; } }
  #product-area .product-code {
    color: #887f69;
    font-size: 20px;
    font-size: 2rem; }
  #product-area .product-img-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid #e2ddd4;
    margin-bottom: 20px; }
  #product-area .product-img-main {
    width: 70%; }
    @media (max-width: 550px) {
      #product-area .product-img-main {
        width: 100%; } }
  #product-area .product-img-sub {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 29%;
    padding-left: 5px;
    padding-right: 5px; }
    @media (max-width: 550px) {
      #product-area .product-img-sub {
        width: 100%;
        padding-left: 0;
        padding-right: 0; } }
    #product-area .product-img-sub div.items {
      width: 48%;
      height: 20%; }
      @media (max-width: 550px) {
        #product-area .product-img-sub div.items {
          width: 18%;
          height: auto; } }
    #product-area .product-img-sub #product-img-sub1,
    #product-area .product-img-sub #product-img-sub2,
    #product-area .product-img-sub #product-img-sub3,
    #product-area .product-img-sub #product-img-sub4,
    #product-area .product-img-sub #product-img-sub5 {
      cursor: pointer; }
  #product-area .product-color-area {
    margin-bottom: 25px; }
    #product-area .product-color-area img {
      height: 25px; }
    #product-area .product-color-area .tbl-color {
      width: 100%; }
      #product-area .product-color-area .tbl-color th {
        text-align: center;
        vertical-align: middle;
        color: #887f69;
        background-color: #f9f8f6;
        border: 1px solid #887f69; }
      #product-area .product-color-area .tbl-color td {
        text-align: center;
        vertical-align: middle;
        border: 1px solid #887f69; }
        #product-area .product-color-area .tbl-color td input {
          margin-top: 15px;
          height: 25px;
          width: 25px; }
    #product-area .product-color-area .product-color-price-area2 {
      border-bottom: 1px solid #e2ddd4; }
    #product-area .product-color-area .product-color-price,
    #product-area .product-color-area .product-color-quantity {
      border-top: 1px solid #e2ddd4;
      height: 60px;
      padding-top: 15px; }
      #product-area .product-color-area .product-color-price img,
      #product-area .product-color-area .product-color-quantity img {
        margin-right: 20px; }
      #product-area .product-color-area .product-color-price input,
      #product-area .product-color-area .product-color-quantity input {
        width: 50%; }
      #product-area .product-color-area .product-color-price .price-value,
      #product-area .product-color-area .product-color-quantity .price-value {
        font-size: 20px;
        font-size: 2rem;
        font-size: 44px;
        font-size: 4.4rem;
        color: #9d1a2d;
        font-style: italic; }
      #product-area .product-color-area .product-color-price .price-value,
      #product-area .product-color-area .product-color-quantity .price-value {
        font-size: 20px;
        font-size: 2rem;
        font-size: 28px;
        font-size: 2.8rem;
        font-style: italic; }
    #product-area .product-color-area .add-to-cart {
      text-align: right; }
      #product-area .product-color-area .add-to-cart img {
        width: 70%;
        height: auto; }
    @media (max-width: 550px) {
      #product-area .product-color-area .product-color-quantity {
        border-bottom: 1px solid #e2ddd4;
        margin-bottom: 10px; }
      #product-area .product-color-area .add-to-cart {
        text-align: center; } }
  #product-area .product-description h3 {
    border-bottom: 1px solid #e2ddd4; }
  #product-area .product-description h4:before {
    content: "■ ";
    font-size: 30px;
    font-size: 3rem; }
  #product-area .product-description table {
    width: 100%;
    margin-top: 15px; }
    #product-area .product-description table th {
      text-align: center;
      vertical-align: middle;
      color: #887f69;
      background-color: #f9f8f6;
      border: 1px solid #887f69;
      width: 25%; }
    #product-area .product-description table td {
      vertical-align: middle;
      border: 1px solid #887f69;
      padding: 20px; }

/*
footer
************************************************/
footer .items {
  margin-top: 30px; }
footer .goto-toppage {
  margin-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #887f69;
  text-align: right; }
  @media (max-width: 550px) {
    footer .goto-toppage {
      text-align: center; }
      footer .goto-toppage img {
        width: 30%; } }
footer .footer-link {
  font-size: 16px;
  font-size: 1.6rem; }
  @media (max-width: 550px) {
    footer .footer-link {
      font-size: 20px;
      font-size: 2rem; } }
footer .copyright {
  font-size: 10px;
  font-size: 1rem;
  color: #b8b4ac; }

@media (max-width: 550px) {
  .pc_navi {
    display: none; }

  .for_pc {
    display: none; } }
@media (min-width: 550px) {
  .sp_navi {
    display: none; }

  .for_sp {
    display: none; } }
/*   
 .text-overflow{
  color:#f00;
  //white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis; 
  height:50px;
}
*/
input[type="search"] {
  margin: auto;
  padding: 13px 15% 13px 3%;
  width: 82%;
  height: 34px;
  border: none;
  background: #eee;
  font-size: 1.1rem;
  position: relative;
  /* 入力部分の上に検索ボタンを置くためのおまじない */
  z-index: 0;
  /* 入力部分の上に検索ボタンを置くためのおまじない：重ね順を定義 */
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font-size: 20px;
  font-size: 2rem; }

input[type="image"] {
  float: right;
  margin: -42px 12px 0 0;
  position: relative;
  /* 入力部分の上に検索ボタンを置くためのおまじない */
  z-index: 100;
  /* 入力部分の上に検索ボタンを置くためのおまじない：重ね順を定義 */
  height: 22px; }

/*# sourceMappingURL=style.css.map */
